a:hover{
    color: rgb(107, 49, 67);
}
body{
    background-color: hsl(0, 0%, 100%);
    background-image: url("/images/Black_Hole.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top right;
    background-blend-mode: difference;
}
h1{
     color : aqua;
}
p{
    color: rgb(247, 181, 74);
    background-color: rgb(138, 61, 221);
}
div p{
    color : rgba(35, 90, 140, 0.5);
    background-color: rgb(247, 181, 74);
}
#heading{
    color: blueviolet;
}
